.text-grey {
  color: #74798c;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.activity-custom-tooltip {
  width: 39px;
  height: 63px;
  flex-shrink: 0;
}

.activity-custom-tooltip li {
  color: #fff;
  text-align: center;
  font-size: 7px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.activity-custom-tooltip-kilogram {
  background: #282d30;
}

.activity-custom-tooltip-calories {
  background-color: #e60000;
}
