.profil-header {
  color: #000000;
  font-style: normal;
  line-height: 24px;
  font-weight: 500;
}
.profil-header-hello {
  font-size: 48px;
}

.profil-header-hello .text-red {
  color: #ff0101;
}

.profil-header-congrats {
  font-size: 18px;
  font-weight: 400;
}
