.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 150px;
  width: 117px;
  min-height: 90vh;
  height: auto;
  padding: 50px 26px 0;
  background-color: #020203;
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-padding-after: 25px;
  padding-block-end: 25px;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: inherit;
}

.sidebar__copyright {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  white-space: nowrap;
  rotate: -90deg;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {
}
