.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  width: 117px;
  min-height: 90vh;
  height: auto;
  padding: 0 26px;
  background-color: #020203;
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-padding-after: 25px;
  padding-block-end: 25px;
}

.sidebar .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: inherit;
}

.sidebar .copyright {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
  rotate: -90deg;
}
